node_modules
.next
ws-server.cjs
.git
.github
infra
docs
coverage
test
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
Dockerfile
.dockerignore
.gitignore
README.md
*.log
.DS_Store
.vscode
.idea
.env*
